<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>NineSixty</string>
	<key>ordering</key>
	<array>
		<string>78ED0C53-84F4-4D35-94A8-F3C1C4A149C2</string>
		<string>1AFD94FB-4CE6-4F5D-8FE0-D506FF2D13D8</string>
		<string>10D3AEF0-3DDD-4955-A411-4FD6A1DC9E9F</string>
		<string>1514B8F2-0884-4863-AF8A-D55E74A6644D</string>
		<string>11552646-4AE5-47AF-AD2C-92FF47507E63</string>
	</array>
	<key>uuid</key>
	<string>3106DB29-5250-441F-9280-BD03A00DABB1</string>
</dict>
</plist>
